---
layout: default
title: Blog
permalink: /blog/
---
<section class="blog-list">
  <p class="blog-list__kicker">Tech Blog</p>
  <h2 class="blog-list__title">Blog</h2>
  <p class="blog-list__lead">TypeScript・AWS・3D空間Webなど、実装で得た知見を発信しています。</p>

  {% if site.posts.size == 0 %}
  <p class="blog-list__empty">まだ記事がありません。<code>_posts/</code>にMarkdownファイルを追加すると、ここに一覧表示されます。</p>
  {% endif %}

  <ol class="blog-list__items">
    {% for post in site.posts %}
    <li class="blog-list__item">
      <a href="{{ post.url | relative_url }}">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
        <span class="blog-list__item-title">{{ post.title }}</span>
        {% if post.excerpt %}<span class="blog-list__item-excerpt">{{ post.excerpt | strip_html | truncate: 80 }}</span>{% endif %}
      </a>
    </li>
    {% endfor %}
  </ol>
</section>
